---
pagination:
    data: footpaths
    size: 1
    alias: footpath
permalink: "footpaths/{{ footpath.number | slug }}/"
---

<div class="w-11/12 p-5 mx-auto mt-5 mb-5 bg-white rounded-xl sm:text-base md:text-xl"> <div class="px-4 py-5 bg-white border-b border-gray-200 sm:px-6">
		<div class="flex flex-wrap items-center justify-between -mt-4 -ml-4 sm:flex-nowrap">
			<div class="mt-4 ml-4">
				<h3 class="text-3xl font-bold leading-6 text-gray-900">Footpath: {{ footpath.number }}</h3>

				<p class="mt-1 text-sm text-gray-500">From {{ footpath.from }} to {{ footpath.to }}</p>
			</div>

			<div class="flex-shrink-0 mt-4 ml-4">
				<a href="footpaths/">
					<button type="button"
						class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-lime-600 hover:bg-lime-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
						Back to Footpaths
					</button>
				</a>
			</div>
		</div>
	</div>

	<div class="border-t border-gray-200">
		<dl>
			<div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				<dt class="text-sm font-medium text-gray-500">
					Auditor
				</dt>

				<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
					{%- if footpath.auditor -%}{{ footpath.auditor}}{%- else -%}none{%- endif -%}
				</dd>
			</div>

			{%- if footpath.auditDate -%}
				<div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
					<dt class="text-sm font-medium text-gray-500">
						Audit Date
					</dt>

					<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
						{{ footpath.auditDate | date: '%A, %e %B, %Y' }}
					</dd>
				</div>
			{% endif %}


			{% if footpath.attributes %}
				<div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
					<dt class="text-sm font-medium text-gray-500">
						Attributes
					</dt>

					<dd class="mt-1 text-sm text-gray-500 sm:mt-0 sm:col-span-2">
						<div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
							<table class="min-w-full divide-y divide-gray-200">
								<thead>
									<tr>
										<th scope="col"
											class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50">
											Attribute
										</th>
										<th scope="col"
											class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50">
											Available
										</th>
										<th scope="col"
											class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50">
											Comment
										</th>
									</tr>
								</thead>

								<tbody>
									{%- for attribute in footpath.attributes -%}
										<tr class="{%- cycle 'bg-white', 'bg-gray-50' -%}">
											<td class="px-6 py-4 text-sm font-medium text-gray-900 align-top whitespace-nowrap">
												{{ attribute.name }}
											</td>

											<td class="px-6 py-4 text-sm text-gray-500 align-top whitespace-nowrap">
												{{ attribute.available }}
											</td>

											<td class="px-6 py-4 text-sm text-gray-500 align-top">
												{{ attribute.comment }}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</dd>
				</div>
			{% endif %}

			{% if footpath.photos %}
			<div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				<dt class="text-sm font-medium text-gray-500">
					Photographs
				</dt>

				<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
					<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
						{%- for photo in footpath.photos -%}
							<li class="flex flex-col col-span-1 text-center bg-white divide-y divide-gray-200 rounded-lg shadow">
								<div class="flex flex-col flex-1 p-8">
									<img class="flex-shrink-0 object-fill mx-auto bg-black"
										src="{{ photo.url }}"
										alt="{{ photo.title }}">

										<h3 class="mt-6 text-sm font-medium text-gray-900">{{ photo.title }}</h3>

									<dl class="flex flex-col justify-between flex-grow mt-1">
										<dt class="sr-only">Title</dt>
										<dd class="text-sm text-gray-500">{{ photo.comment }}</dd>
									</dl>
								</div>
							</li>
						{% endfor %}
					</ul>
				</dd>
			</div>
			{% endif %}
		</dl>
	</div>
</div>
